.search-bar {
	margin-bottom: 2em;
}

.search-bar input {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 0.5em;
	background: #FFFFFF;
	border: 1px solid rgba(142, 142, 142, 0.2);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.kyc-verification {
	background: #E6ECFF;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.kyc-verification h3 {
	font-family: montserrat-bold;
}

.kyc-verification button {
	background: #204ECF;
	color: #fff;
	border: 0;
	border-radius: 30px;
	font-family: montserrat-medium;
	font-weight: 700;
	font-size: 15px;
	width: 90%;
	padding-top: 0.2em;
	padding-bottom: 0.3em;
}

.category-description {
	display: flex;
	justify-content: space-between;
}

.category-description h4 {
	font-family: montserrat-bold;

}

.category-description a {
	padding-top: 1.3em;
	text-decoration: none;
	font-size: 14px;
}

.service-category {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.service-category-row {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-bottom: 2em;
}

.agency-category {
	display: flex;
	flex-direction: column;
}

.agency-category-row {
	display: flex;
	justify-content: flex-start;
	gap: 1em;
	border-radius:10px;
	padding-left: 0em;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 1em;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #FFFFFF;
	border: 1px solid rgba(142, 142, 142, 0.2);
	box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.08);

}

.ruthdam-agency-category-col-img {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	margin-left: 0em;
}

.agency-category-col-img {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	margin-left: 0.7em;
}

.agency-category-col-img img {
	width: 100%;
}

.agency-img {
	position: relative;
	width: 90%;
	border-radius: 5px;
	padding-left: 0.3em;
}

.agency-link {
	margin-left: 0;
	padding: 0.4em;
	background: #20CF91;
	border-radius: 2px;
}

.agency-link span {
	color: #FFF;
	font-family: montserrat-medium;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
}

.agency-name {
	margin-top: 0em;
	margin-bottom: .5em;
	margin-left: 0em;
	padding-left: 0;
}
.agency-name h4 {
	margin: 0;
	padding-right: 2em;
	padding-left: 0em;
	font-family: montserrat-medium;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #1D1D1D;
	left: 35.91%;
	right: 30.86%;
	top: 8.81%;
	bottom: 77.36%;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
}

.ruthdam-agency-name {
	margin-top: 0em;
	margin-bottom: .5em;
	margin-left: 0em;
	padding-left: 0;
}
.ruthdam-agency-name h4 {
	margin: 0;
	padding-right: 2em;
	padding-left: 1em;
	left: 35.91%;
	right: 19.58%;
	top: 8.81%;
	bottom: 77.36%;
	font-family: montserrat-medium;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #1D1D1D;
}

.location {
	display: flex;
	justify-content: flex-start;
	margin: 0em 0em 0.61em 0.8em;
	padding: 0;
}

.location p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 14px;
	font-weight: 600;
	color: #8E8E8E;
}

.location img {
	margin-left: 0;
	margin-right: 0.1em;
}

.category-tag {
	margin-left: 0.8em;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: flex-start;
}

.category-tag p {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0.5em;
	padding-left: 0;
	font-size: 14px;
	font-weight: 700;
	width: 123px;
	height: 18px;
	left: 126px;
	top: 76px;
}

.category-tag-links span {
	border-radius: 0.2em;
	padding: .2em 1.2em .2em 1.2em;
	margin-right: 0.7em;
	font-size: 14px;
	font-weight: 600;
	color: #8E8E8E;
	background-color: #F3F5F7;
}

.category-tag a {
	margin-right: 0.5em;
}

.ruthdam-category-tag {
	margin-left: 0.9em;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: flex-start;
	width: 80%;
}

.ruthdam-category-tag p {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 0.5em;
}

.ruthdam-category-tag span {
	margin-top: 0;
}

.ad-category {
	display: flex;
	background: #073D26;
	color: #FFF;
	border-radius: 10px;
	padding-left: 1em;
	padding-right: 1em;
	text-align: left;
}

.ad-category-text {
	font-family: montserrat-bold;
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 22px;
	color: #FFFFFF;
}

.ad-category-text-2 {
	display: flex;
	padding-bottom: 1em;
}

.ad-category-text-2 p {
	margin-top: 0;
	font-family: montserrat;
	font-weight: 600px;
	font-size: 14px;
	line-height: 17px;
}

.ad-category-text-2 span {
	color: #FFF;
	margin-left: 0.5em;
}

.cleaner-img {
	margin-left: 1em;
}

.mynda-category-row {
	display: flex;
	justify-content: flex-start;
	gap: 1em;
	border-radius:10px;
	padding-left: 0em;
	padding-top: 1em;
	padding-bottom: 0em;
	margin-bottom: 1em;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #FFFFFF;
	border: 1px solid rgba(142, 142, 142, 0.2);
	box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
}

.mynda-category-col-img-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	margin-left: 0.5em;
	margin-bottom: 1.3em;
	margin-right: 1em;
	margin-top: 6em;
}

.mynda-category-col-img-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	margin-left: 0em;
	margin-bottom: 1.3em;
	margin-right: 1em;
	margin-top: 6em;	
}

.mynda-category-col-img-3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	margin-left: 2.2em;
	margin-bottom: 1.3em;
	margin-right: 0em;
	margin-top: 6em;
}

.cleaner-img {
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 0.5em;
}

.mynda-agency-name {
	margin-top: 0em;
	margin-bottom: .5em;
	margin-left: 0em;
	padding-left: 0;
	box-sizing: border-box;
}

.mynda-agency-name h4 {
	margin: 0;
	padding-right: 0em;
	padding-left: 0em;
	left: 35.91%;
	right: 19.58%;
	top: 8.81%;
	bottom: 77.36%;
	font-family: montserrat-medium;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #1D1D1D;
	text-align: left;
	white-space: nowrap;
}

.mynda-location {
	display: flex;
	justify-content: flex-start;
	margin: 0em 0em 0.61em 0em;
	padding: 0;
}

.mynda-location p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 14px;
	font-weight: 600;
	color: #8E8E8E;
}

.mynda-location img {
	margin-left: 0;
	margin-right: 0.1em;
}

.price-tag {
	box-sizing: border-box;
	padding-bottom: 0em;
}

.price-tag p {
	text-align: left;
	color: #8E8E8E;
	font-size: 14px;
}

.price-tag h4 {
	text-align: left;
	padding-right: 0;
	font-family: montserrat-bold;
	font-size: 17px;
}

.bottom-margin {
	padding-top: 6em;
}