.o-container {
	background: #F5F5F5;
	font-family: montserrat;
	font-size: 16px;
	font-weight: 600;
}

.container {
	margin: auto;
	width: 90%;
	font-family: montserrat;
	font-size: 16px;
	font-weight: 600;
}

@font-face {
	font-family: montserrat;
	src: url(../../assets/fonts/Montserrat-Thin_fc6bcc51364950792d2911efa2bf416d.ttf);
}

@font-face {
	font-family: montserrat-semibold;
	src: url(../../assets/fonts/Montserrat\ SemiBold\ 600.ttf);
}

@font-face {
	font-family: montserrat-bold;
	src: url(../../assets/fonts/Montserrat\ Bold\ 700.ttf);
}

@font-face {
	font-family: montserrat-medium;
	src: url(../../assets/fonts/Montserrat\ Medium\ 500.ttf);
}

.message-header {
	display: flex;
	background-color: #FFF;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	margin-top: 1em;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 1;
}

.message-header-arrow {
	padding-top: 1.2em;
	padding-right: 7.5em;
	padding-left: 1em;
}

.back-arrow {
	display: flex;
	justify-content: flex-start;
	margin-top: 1em;
}

.body-color-grey {
	color: #8E8E8E;
}

.body-color-blue {
	color: #204ECF;
}

.app-btn-blue {
	width: 95%;
	font-size: 17px;
	font-family: montserrat-bold;
	padding: 1em;
	border-radius: 5px;
	width: 100%;
	color: #fff;
	background-color: #204ECF;
}

.app-btn-grey {
	width: 95%;
	font-size: 16px;
	font-family: montserrat-semibold;
	font-weight: 500px;
	padding: 1em;
	border-radius: 5px;
	width: 100%;
	color: #000;
	background-color: #D4D3D3;
}